/* main.css */

body,html {
  background-color: lightblue;
  text-align: center;
  margin: auto;
  width: 80%;
}

title {
  text-align: center;
  margin: auto;
  width: 88%;
  border: 2px;
  border-color:blue ;
}

.side_left {
  height: 100%; 
  width: 15%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:orange; 
  overflow-x: hidden; 
  padding-top: 20px;
}
.side_right {
  height: 100%; 
  width: 15%;
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 85%;
  background-color:orange; 
  overflow-x: hidden;
  padding-top: 20px;
}


.movie-list{
  text-align: left;
  margin: 0%;

}


.movie-button{
  border: none;
  background-color: inherit;
  color: darkblue;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;

}
.movie-button:hover{
  background: orange ;
}

.movie-button:active{
  color: orange;
  background-color: orange;
}


.movie-info {
  border: darkblue;
  border: 1px solid;
  color: darkblue;
  background-color: lightskyblue;
  box-shadow: 1px 1px white;
  padding: 5px 5px;
}

.home-buttons-group .home-buttons-group{
  border: darkblue;
}

.home-buttons-group .button {
  background-color: lightskyblue; 
  border: blue;
  border: 1px solid;
  color: darkblue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.home-buttons-group .button:hover {
  background-color:orange;
}

.other_buttons{
  background-color: orange; 
  border: blue;
  border: 2px solid;
  color: darkblue;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.other_buttons:hover{
  background-color: lightskyblue;
}

.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}