{% block content %}
<div>
<button type="button" id = "Home button" onclick="window.location.href='/'">Return Home</button>
<br>
{% for a_director in directors %}
<button id = "{{a_director}}" onclick="buttonFunction(id)">{{ a_director.director_full_name }}</button>
<div id = "{{a_director}}_id" style="display: none;"> 
    {% for movie in movie_file %}
        {% if a_director == movie.director %}
    <div> 
        <button id = "{{movie.title}}" onclick="buttonFunction(id)">{{ movie.title }}</button>

        <div id ="{{movie.title}}_id" style="display: none;">
            <h3>
                {{ movie.title }}
            </h3>
            Director: {{movie.director.director_full_name}} 
            <br>
            Genres: 
            {% for genre in movie.genres %}
                {{genre.genre_name}},
            {% endfor %}
            <br>
            Actors:
            {% for actor in movie.actors %}
                {{actor.actor_full_name}},
            {% endfor %}
            <br>
            {{movie.description}}
            <br>
        </div>
    </div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
        <br>
        <script>
            function buttonFunction(button_id) {
              var movie_div = document.getElementById(button_id+"_id");
              if (movie_div.style.display === "none") {
                movie_div.style.display = "block";
              } else {
                movie_div.style.display = "none";
              }
            }
        </script>
    <br>
</div>
{% endblock %}