{% block content %}
<main id = "main">
    <h1>
        This is an app for browsing movies
    </h1>
    <button type="button" id = "browse button" onclick="window.location.href='/browse'">Browse Movies</button>
    <button type="button" id = "Genre button" onclick="window.location.href='/genre'">Browse Movies By Genre</button>
    <button type="button" id = "Director button" onclick="window.location.href='/director'">Browse Movies By Director</button>
    <button type="button" id = "Actor button" onclick="window.location.href='/actor'">Browse Movies By Actor</button>

</main>

{% endblock %}